.elementor-94 .elementor-element.elementor-element-b0eef8b{--display:flex;--background-transition:0.3s;--padding-block-start:150px;--padding-block-end:0px;--padding-inline-start:0px;--padding-inline-end:0px;}.elementor-94 .elementor-element.elementor-element-1a9993e{--e-transform-origin-x:center;--e-transform-origin-y:center;}.elementor-94 .elementor-element.elementor-element-e3c2f62{--display:flex;--background-transition:0.3s;--padding-block-start:110px;--padding-block-end:0px;--padding-inline-start:0px;--padding-inline-end:0px;}.elementor-94 .elementor-element.elementor-element-4691ddb{--e-transform-origin-x:center;--e-transform-origin-y:center;}.elementor-94 .elementor-element.elementor-element-eee2c08{--display:flex;--background-transition:0.3s;--padding-block-start:110px;--padding-block-end:0px;--padding-inline-start:0px;--padding-inline-end:0px;}.elementor-94 .elementor-element.elementor-element-808af53{--e-transform-origin-x:center;--e-transform-origin-y:center;}.elementor-94 .elementor-element.elementor-element-5064732{--display:flex;--background-transition:0.3s;--padding-block-start:110px;--padding-block-end:0px;--padding-inline-start:0px;--padding-inline-end:0px;}.elementor-94 .elementor-element.elementor-element-d1fe877{--e-transform-origin-x:center;--e-transform-origin-y:center;}.elementor-94 .elementor-element.elementor-element-4211f8e{--display:flex;--background-transition:0.3s;--padding-block-start:100px;--padding-block-end:0px;--padding-inline-start:0px;--padding-inline-end:0px;}.elementor-94 .elementor-element.elementor-element-e0428be{--e-transform-origin-x:center;--e-transform-origin-y:center;}.elementor-94 .elementor-element.elementor-element-ee45e23{--display:flex;--background-transition:0.3s;--padding-block-start:100px;--padding-block-end:0px;--padding-inline-start:0px;--padding-inline-end:0px;}.elementor-94 .elementor-element.elementor-element-266a787{--e-transform-origin-x:center;--e-transform-origin-y:center;}.elementor-94 .elementor-element.elementor-element-52773e6{--display:flex;--background-transition:0.3s;--padding-block-start:100px;--padding-block-end:0px;--padding-inline-start:0px;--padding-inline-end:0px;}.elementor-94 .elementor-element.elementor-element-745020e{--e-transform-origin-x:center;--e-transform-origin-y:center;}.elementor-94 .elementor-element.elementor-element-79eef6e{--display:flex;--background-transition:0.3s;--padding-block-start:100px;--padding-block-end:0px;--padding-inline-start:0px;--padding-inline-end:0px;}.elementor-94 .elementor-element.elementor-element-aeb30c0{--e-transform-origin-x:center;--e-transform-origin-y:center;}.elementor-94 .elementor-element.elementor-element-63d8c66{--display:flex;--background-transition:0.3s;--padding-block-start:100px;--padding-block-end:0px;--padding-inline-start:0px;--padding-inline-end:0px;}.elementor-94 .elementor-element.elementor-element-a24383f{--e-transform-origin-x:center;--e-transform-origin-y:center;}.elementor-94 .elementor-element.elementor-element-c4b100b{--display:flex;--background-transition:0.3s;--padding-block-start:100px;--padding-block-end:0px;--padding-inline-start:0px;--padding-inline-end:0px;}.elementor-94 .elementor-element.elementor-element-bcb6d53{--e-transform-origin-x:center;--e-transform-origin-y:center;}.elementor-94 .elementor-element.elementor-element-f48895c{--display:flex;--background-transition:0.3s;--padding-block-start:100px;--padding-block-end:0px;--padding-inline-start:0px;--padding-inline-end:0px;}.elementor-94 .elementor-element.elementor-element-d53d173{--e-transform-origin-x:center;--e-transform-origin-y:center;}.elementor-94 .elementor-element.elementor-element-69e0df8{--display:flex;--background-transition:0.3s;--padding-block-start:100px;--padding-block-end:0px;--padding-inline-start:0px;--padding-inline-end:0px;}.elementor-94 .elementor-element.elementor-element-ea1bd8d{--e-transform-origin-x:center;--e-transform-origin-y:center;}.elementor-94 .elementor-element.elementor-element-995e498{--display:flex;--background-transition:0.3s;--padding-block-start:110px;--padding-block-end:0px;--padding-inline-start:0px;--padding-inline-end:0px;}.elementor-94 .elementor-element.elementor-element-575119b{--e-transform-origin-x:center;--e-transform-origin-y:center;}.elementor-94 .elementor-element.elementor-element-da6f2a9{--display:flex;--background-transition:0.3s;--padding-block-start:100px;--padding-block-end:0px;--padding-inline-start:0px;--padding-inline-end:0px;}.elementor-94 .elementor-element.elementor-element-bb14ccf{--e-transform-origin-x:center;--e-transform-origin-y:center;}.elementor-94 .elementor-element.elementor-element-92e0e4e{--display:flex;--background-transition:0.3s;--padding-block-start:100px;--padding-block-end:0px;--padding-inline-start:0px;--padding-inline-end:0px;}.elementor-94 .elementor-element.elementor-element-2aa1618{--e-transform-origin-x:center;--e-transform-origin-y:center;}.elementor-94 .elementor-element.elementor-element-c2cfe21{--display:flex;--background-transition:0.3s;--padding-block-start:100px;--padding-block-end:0px;--padding-inline-start:0px;--padding-inline-end:0px;}.elementor-94 .elementor-element.elementor-element-34aa226{--e-transform-origin-x:center;--e-transform-origin-y:center;}.elementor-94 .elementor-element.elementor-element-da351a5{padding:100px 0px 0px 0px;}.elementor-94 .elementor-element.elementor-element-0542d11{text-align:center;}.elementor-94 .elementor-element.elementor-element-0542d11 .elementor-heading-title{color:#6C757D;}.elementor-94 .elementor-element.elementor-element-7b40aeb{text-align:center;}.elementor-94 .elementor-element.elementor-element-7b40aeb .elementor-heading-title{color:#373B4D;}.elementor-bc-flex-widget .elementor-94 .elementor-element.elementor-element-0e7f8fb.elementor-column .elementor-widget-wrap{align-items:flex-end;}.elementor-94 .elementor-element.elementor-element-0e7f8fb.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{align-content:flex-end;align-items:flex-end;}.elementor-94 .elementor-element.elementor-element-1507ef9 .elementor-heading-title{color:#6C757D;}.elementor-94 .elementor-element.elementor-element-8cd7208 .elementor-heading-title{color:#373B4D;}.elementor-94 .elementor-element.elementor-element-25b2a6b .elementor-heading-title{color:#6C757D;}.elementor-94 .elementor-element.elementor-element-86fcf7f .elementor-heading-title{color:#373B4D;}.elementor-94 .elementor-element.elementor-element-5a1b01c > .elementor-widget-container{padding:80px 0px 0px 0px;}.elementor-94 .elementor-element.elementor-element-22dce55{--display:flex;--background-transition:0.3s;--padding-block-start:0px;--padding-block-end:0px;--padding-inline-start:0px;--padding-inline-end:0px;}@media(max-width:767px){.elementor-94 .elementor-element.elementor-element-b0eef8b{--padding-block-start:50px;--padding-block-end:0px;--padding-inline-start:0px;--padding-inline-end:0px;}.elementor-94 .elementor-element.elementor-element-e3c2f62{--padding-block-start:60px;--padding-block-end:0px;--padding-inline-start:0px;--padding-inline-end:0px;}.elementor-94 .elementor-element.elementor-element-eee2c08{--padding-block-start:60px;--padding-block-end:0px;--padding-inline-start:0px;--padding-inline-end:0px;}.elementor-94 .elementor-element.elementor-element-5064732{--padding-block-start:60px;--padding-block-end:0px;--padding-inline-start:0px;--padding-inline-end:0px;}.elementor-94 .elementor-element.elementor-element-995e498{--padding-block-start:60px;--padding-block-end:0px;--padding-inline-start:0px;--padding-inline-end:0px;}.elementor-94 .elementor-element.elementor-element-575119b.elementor-element{--align-self:flex-start;--order:-99999 /* order start hack */;}.elementor-94 .elementor-element.elementor-element-da6f2a9{--padding-block-start:60px;--padding-block-end:0px;--padding-inline-start:0px;--padding-inline-end:0px;}}/* Start custom CSS for bdevs-pricing2-section, class: .elementor-element-1a9993e */@media (min-width: 1024px) {
 section #pricing-1.white-smoke--shape pricing-section division::after
    
 {
flex-direction: row-reverse;


     

 }
 #pricing-1:after {
    left: 32%;
}
}/* End custom CSS */
/* Start custom CSS for bdevs-pricing2-section, class: .elementor-element-4691ddb */.elementor-94 .elementor-element.elementor-element-4691ddb .row.d-flex.align-items-center 

 {

flex-direction: row-reverse;

     

 }
 @media (min-width: 1024px) {
.elementor-94 .elementor-element.elementor-element-4691ddb .white-smoke--shape:after {
    margin-left: -360px;
}}/* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-e3c2f62 *//*div.row.d-flex.align-items-center*/
/*{*/
/*     flex-direction: row-reverse;*/
/* }*/
 
 section#pricing-1.white-smoke--shape.pricing-section.division .elementor-94 .elementor-element.elementor-element-e3c2f62
 {
     flex-direction: row-reverse;
 }/* End custom CSS */
/* Start custom CSS for bdevs-pricing2-section, class: .elementor-element-d1fe877 */.elementor-94 .elementor-element.elementor-element-d1fe877 .row.d-flex.align-items-center 

 {

flex-direction: row-reverse;

     

 }
 @media (min-width: 1024px) {
.elementor-94 .elementor-element.elementor-element-d1fe877 .white-smoke--shape:after {
    margin-left: -360px;
}}/* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-5064732 */.elementor-94 .elementor-element.elementor-element-5064732 .row.d-flex.align-items-center
 {
flex-direction: row-reverse;
     
 }/* End custom CSS */
/* Start custom CSS for bdevs-pricing2-section, class: .elementor-element-266a787 */.elementor-94 .elementor-element.elementor-element-266a787 .row.d-flex.align-items-center 

 {

flex-direction: row-reverse;

     

 }
 @media (min-width: 1024px) {
.elementor-94 .elementor-element.elementor-element-266a787 .white-smoke--shape:after {
    margin-left: -360px;
}}/* End custom CSS */
/* Start custom CSS for bdevs-pricing2-section, class: .elementor-element-aeb30c0 */.elementor-94 .elementor-element.elementor-element-aeb30c0 .row.d-flex.align-items-center 

 {

flex-direction: row-reverse;

     

 }
 @media (min-width: 1024px) {
.elementor-94 .elementor-element.elementor-element-aeb30c0 .white-smoke--shape:after {
    margin-left: -360px;
}}/* End custom CSS */
/* Start custom CSS for bdevs-pricing2-section, class: .elementor-element-a24383f */@media (min-width: 1024px) {
  #pricing-1:after {
    left: 32%;
}
}/* End custom CSS */
/* Start custom CSS for bdevs-pricing2-section, class: .elementor-element-bcb6d53 */.elementor-94 .elementor-element.elementor-element-bcb6d53 .row.d-flex.align-items-center 

 {

flex-direction: row-reverse;

     

 }
 @media (min-width: 1024px) {
.elementor-94 .elementor-element.elementor-element-bcb6d53 .white-smoke--shape:after {
    margin-left: -360px;
}}/* End custom CSS */
/* Start custom CSS for bdevs-pricing2-section, class: .elementor-element-ea1bd8d */.elementor-94 .elementor-element.elementor-element-ea1bd8d .row.d-flex.align-items-center 

 {

flex-direction: row-reverse;

     

 }
 @media (min-width: 1024px) {
.elementor-94 .elementor-element.elementor-element-ea1bd8d .white-smoke--shape:after {
    margin-left: -360px;
}}/* End custom CSS */
/* Start custom CSS for bdevs-pricing2-section, class: .elementor-element-bb14ccf */.elementor-94 .elementor-element.elementor-element-bb14ccf .row.d-flex.align-items-center 

 {

flex-direction: row-reverse;

     

 }
@media (min-width: 1024px) {
.elementor-94 .elementor-element.elementor-element-bb14ccf .white-smoke--shape:after {
    margin-left: -360px;
}}/* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-da6f2a9 */.elementor-94 .elementor-element.elementor-element-da6f2a9 .row.d-flex.align-items-center
 {
flex-direction: row-reverse;
     
 }/* End custom CSS */
/* Start custom CSS for bdevs-pricing2-section, class: .elementor-element-34aa226 */.elementor-94 .elementor-element.elementor-element-34aa226 .row.d-flex.align-items-center 

 {

flex-direction: row-reverse;

     

 }
 @media (min-width: 1024px) {
.elementor-94 .elementor-element.elementor-element-34aa226 .white-smoke--shape:after {
    margin-left: -360px;
}}/* End custom CSS */