.elementor-2512 .elementor-element.elementor-element-e4ef76c{margin-top:0px;margin-bottom:0px;}.elementor-2512 .elementor-element.elementor-element-ffe4e66{--display:flex;--background-transition:0.3s;--padding-block-start:100px;--padding-block-end:0px;--padding-inline-start:0px;--padding-inline-end:0px;}.elementor-2512 .elementor-element.elementor-element-6c62965{--e-transform-origin-x:center;--e-transform-origin-y:center;}.elementor-2512 .elementor-element.elementor-element-3fc727d{--display:flex;--background-transition:0.3s;--padding-block-start:100px;--padding-block-end:100px;--padding-inline-start:0px;--padding-inline-end:0px;}.elementor-2512 .elementor-element.elementor-element-7a29880{--e-transform-origin-x:center;--e-transform-origin-y:center;}.elementor-2512 .elementor-element.elementor-element-3a56d03{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--background-transition:0.3s;--padding-block-start:0px;--padding-block-end:0px;--padding-inline-start:0px;--padding-inline-end:0px;}/* Start custom CSS for bdevs-pricing2-section, class: .elementor-element-6c62965 */.elementor-2512 .elementor-element.elementor-element-6c62965 .row.d-flex.align-items-center 

 {

flex-direction: row-reverse;

     

 }
 @media (min-width: 1024px) {
.elementor-2512 .elementor-element.elementor-element-6c62965 .white-smoke--shape:after {
    margin-left: -360px;
}}/* End custom CSS */